body {
	
	background:#FFF;
	color:#34495e;
	font-family:Source Sans Pro;
	font-size:13px;
	overflow-y:scroll;



}
h1{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 6.4px;
}
h2{

	padding:10px;
    font-weight: 100;
    margin-bottom: 0px;
    text-decoration: underline;
}

h3{

	padding:5px;
	font-weight: 100;
}

table {
	font-size:14px;
	border-collapse: collapse;
}
p{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
td {
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}
td.border_right {
	border-right:1px solid #2c2c2c;
}
table.contact td {
	padding-top:10px;
	padding-bottom:10px;
}

#logo {
	float:left;
	text-transform:uppercase;
}
#logo a {
	text-decoration: none;
	color:#34495e;
}

.icon{
    width: 20px;
}

.icon_wrapper {
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    display: inline-flex;
    margin: 20px;
    margin-bottom: 0px;
    border: 1px solid #bdc3c7;
}
.icon_wrapper:hover {
    border: 1px solid #2980b9;
}
#icons{
    margin: 0px;
    text-align: center;
}



.content{
	text-align:center
}



ul.navigation {
	float:right;
	
	list-style:none;
}
ul.navigation li{
	float:left;
}
ul.navigation button {
	color:#000;
	margin-left:15px;
	text-transform: uppercase;
	text-decoration: none;
	height:30px;
	display:block;
	border: none;
	background: inherit;
	outline: none;
	transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
}
ul.navigation button.active, ul.navigation button:hover {
	border-bottom: 1px solid;
	border-color:#337ab7;
}



.clear {
	clear:left;
}
div#contact.tabcontent {
	text-align: center !important;
}
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 60px);
        }

        .image {
            width: 40px;
	    padding: 10px;
        }



        .grid-item .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #363636;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 2px;

           
            position: absolute;
            z-index: 1;
        }

        .grid-item:hover .tooltiptext {
            visibility: visible;
        }
		#container{
			border-bottom: 1px solid #bdc3c7;
			border-top: 1px solid #bdc3c7;
		}
        #content{

		
			
			max-width:42em;
        
	margin: auto;
	padding-bottom: 2em;
        }

        #menu{
            height:50px
		}
		
.center-text{
	text-align: center;
}
.center-div{
	margin: 0 auto;
}
		.avatar
{
  margin-top:60px;
  width:15em;
  height:15em;
}

.avatar_image {
    border-radius: 50%;
    border: 1px solid #eee;
    display: inline-flex;

}
.avatar_image img {
	width:100%;
	height:100%;
    border-radius: 100%;
}