body {
	margin:0;
	background:#FFF;
	color:#34495e;
	font-family:Source Sans Pro;
	font-size:13px;
	overflow-y:scroll;
}
h1{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 6.4px;
}
.space_top {
	height:31px;
}

table {
	font-size:14px;
	border-collapse: collapse;
}
p{
	font-size: 14px;
}
td {
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}
td.border_right {
	border-right:1px solid #2c2c2c;
}
table.contact td {
	padding-top:10px;
	padding-bottom:10px;
}
#header_wrapper {
	/*position:fixed;*/
	width:100%;
	height:30px;
	top:0;
	background:#363636;
	color: #fff;
	z-index:2;
}
#header {
	/*width:1000px;*/
	padding-left:200px;
	padding-right:200px;
	margin-left:auto;
	margin-right:auto;
	line-height:30px;
}
#logo {
	float:left;
	text-transform:uppercase;
}
#logo a {
	text-decoration: none;
	color:#34495e;
}

.icon{
    width: 20px;
}

.icon_wrapper {
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    display: inline-flex;
    margin: 20px;
    margin-bottom: 0px;
    border: 1px solid #bdc3c7;
}
.icon_wrapper:hover {
    border: 1px solid #2980b9;
}
#icons{
    margin: 0px;
    text-align: center;
}

.avatar {

    /*border: 1px solid #bdc3c7;*/
    border-radius: 50%;
    border: 1px solid #eee;
    display: inline-flex;
    margin-top:60px;
}
.avatar img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
}
.content{
	text-align:center
}

h2{
	background-color: #363636;
	color:#fff;
	padding:10px;
	font-weight: 100;
}

h3{
	background-color: #363636;
	color:#fff;
	padding:5px;
	font-weight: 100;
}

.inner{
    border-bottom: 1px solid #bdc3c7;
    border-top: 1px solid #bdc3c7;
    position:relative;
    width:600px;
    float: none;
    margin: auto;
    padding-bottom: 20px;

}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
}



ul.navigation {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
}
ul.navigation li{
	float:left;
}
ul.navigation button {
	color:#fff;
	margin-left:15px;
	text-transform: uppercase;
	text-decoration: none;
	height:30px;
	display:block;
	border: none;
	background: inherit;
	outline: none;
	transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
}
ul.navigation button.active, ul.navigation button:hover {
	border-bottom: 1px solid;
	border-color:#337ab7;
}
.tabcontent {
	display: none;
	animation: fadeEffect 0.25s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
div.skill {
	/*margin:10px;*/
	margin-top:5px;
	margin-bottom:5px;
	height:30px;
	float:left;
	position:relative;
}
div.skill img {
	margin:5px;
	float:left;
}
div.skill span{
	margin:5px;
	line-height:20px;
	float:left;
}
.clear {
	clear:left;
}
div#contact.tabcontent {
	text-align: center !important;
}



        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 60px);
        }

        .image {
            width: 40px;
	    padding: 10px;
        }



        .grid-item .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #363636;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 2px;

           
            position: absolute;
            z-index: 1;
        }

        .grid-item:hover .tooltiptext {
            visibility: visible;
        }
